@page "{id:Guid}"
@model Task_4_NETMVCandRazorPages.Pages.Items.EditModel
@{
    var message = ViewData["Message"]?.ToString();
}

<form method="post" >

<h1 class="mb-3">Edit Item</h1>

    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

<div class="mb-3">
    <label class="form-label">Id</label>
    <input type="text" class="form-control" asp-for="editItemView.Id" readonly />
</div>

<div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="editItemView.Name" />
</div>

<div class="mb-3">
    <label class="form-label">Description</label>
    <input type="text" class="form-control" asp-for="editItemView.Description" />
</div>

<div class="mb-3 d-flex justify-content-between">
    <button type="submit" class="btn btn-primary" asp-page-handler="Update">Update</button>
    
    <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Delete</button>
</div>


</form>