@page
@model Task9_AzureApplication.Pages.FileUploadModel
@{
}
<div class="text-center">
    <h1 class="display-4">File Upload</h1>
</div>

<div class="container">
    <div class="mb-3 mt-3">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Upload File</label>
                <input type="file" name="file" class="form-control" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function (e) {
        const fileInput = document.querySelector('input[type="file"]');
        const fileName = fileInput.value;
        if (!fileName) {
            e.preventDefault();
            alert('Please select a file to upload.');
        } else {
            const fileExtension = fileName.split('.').pop().toLowerCase();
            if (fileExtension !== 'json' && fileExtension !== 'json') {
                e.preventDefault();
                alert('Please select a valid Json file.');
            }
        }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>

<!-- Your custom script for SignalR integration -->
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/notificationHub").build();

    connection.on("SendNotification", function (message) {
        alert(message); // You can customize how to handle the notification
    });

    connection.start().then(function () {
        console.log("SignalR connected");
    }).catch(function (err) {
        return console.error(err.toString());
    });
</script>