@page
@model Task_4_NETMVCandRazorPages.Pages.FileUploadModel
@{
}

<div class="text-center">
    <h1 class="display-4">File Upload</h1>
</div>

<div class="container">
    <div class="mb-3 mt-3">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Upload File</label>
                <input type="file" name="excelFile" class="form-control" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
      
        </form>
    </div>
    <div id="messageContainer"></div>
</div>

<script>
    document.querySelector('form').addEventListener('submit', function (e) {
        const fileInput = document.querySelector('input[type="file"]');
        const fileName = fileInput.value;
        if (!fileName) {
            e.preventDefault();
            alert('Please select a file to upload.');
        } else {
            const fileExtension = fileName.split('.').pop().toLowerCase();
            if (fileExtension !== 'xls' && fileExtension !== 'xlsx') {
                e.preventDefault();
                alert('Please select a valid Excel file (XLS or XLSX).');
            }
        }
    });

    // Display the message from TempData
    const message = '@TempData["Message"]';
    if (message) {
        document.getElementById('message').innerHTML = message;
        document.getElementById('message').style.display = 'block';
    }
</script>